@charset "utf-8";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strong, u, i, ol, ul, li, form, label, table, tbody, tr, th, td, input {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    /*-webkit-text-size-adjust: 100%;*/
    /*-moz-text-size-adjust: 100%;*/
    /*-ms-text-size-adjust: 100%;*/
    text-size-adjust: 100%;
}

body {
    color: #000000;
    background-color: #4E5869;
    font: medium Tahoma, Arial, helvetica, sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    /*table-layout: fixed;*/
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

a:link, a:visited {
    color: #414958;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
}

/* Контейнер содержимого */
#container {
    width: 100%;
    max-width: 600px;
    min-width: 160px;
    background-color: #798397;
    margin: 0 auto;
}

/* Фон тулбаров и заголовков меню */
ul.nav li h1, ul.nav li h2 {
    background-image: url(../img/sprite-backgrounds.png);
    background-repeat: repeat-x;
}

/*======================================================
Стиль для элементов форм
======================================================*/
.form-container {
    padding: 12px 12px 0 12px;
}

.form-block {
    background-color: #ebebeb;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0px 5px #335;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 12px;
    display: block;
}

.form-block.error {
    background-color: #ffeff1;
}

label {
    color: #4E5869;
    font-weight: bold;
    text-shadow: 0 1px 1px #ffffff;
    display: inline-block;
    padding-left: 2px;
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 18px;
}

label input[type="text"] {
    font-weight: normal;
}

label.small {
    font-size: small;
}

.input-help {
    color: #818ba0;
    font-size: small;
    padding-left: 2px;
    margin-bottom: 4px;
    display: inline-block;
}

.input-help.error {
    color: #b94a48;
}

.input-help.success {
    color: #3b9030;
}

textarea {
    font-size: medium;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
    width: 100%;
}

select,
input[type="text"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 4px;
    font-size: medium;
    color: #555555;
    width: 100%;
    max-width: 200px;
}

textarea,
input[type="text"],
input[type="password"] {
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear 0.2s, box-shadow linear 0.2s;
    box-sizing: border-box;
}

input[type="checkbox"] {
    /*margin-bottom: 12px;*/
    margin-right: 6px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
    border-color: #ddd;
}

input.mini {
    text-align: center;
    width: 36px;
}

input.small {
    text-align: center;
    width: 56px;
}

input.medium {
    text-align: center;
    width: 100px;
}

input.relative {
    width: 100%;
    max-width: none;
}

input.largetext {
    font-size: large;
    font-weight: bold;
    padding: 8px;
}

input.error,
textarea.error {
    color: #b94a48;
    background-color: #ffeff1;
    border-color: #b94a48;
}

input.error:focus,
textarea.error:focus {
    border-color: #953b39;
    box-shadow: 0 0 6px #d59392;
}

/*======================================================
Стиль для кнопок
======================================================*/
.btn, .btn a {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: small;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e6e6e6', GradientType = 0);
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn:hover,
.btn:active,
.btn.active {
    background-color: #e6e6e6;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn.active,
.btn:active {
    background-color: #e6e6e6;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-large {
    padding: 12px 17px;
    font-size: medium;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-small {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 16px;
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

a.btn-primary,
.btn-primary,
.btn-primary:hover,
a.btn-warning,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #677389;
    background-image: -moz-linear-gradient(top, #9ca5b6, #6b788f);
    background-image: -ms-linear-gradient(top, #9ca5b6, #6b788f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ca5b6), to(#6b788f));
    background-image: -webkit-linear-gradient(top, #9ca5b6, #6b788f);
    background-image: -o-linear-gradient(top, #9ca5b6, #6b788f);
    background-image: linear-gradient(top, #9ca5b6, #6b788f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9ca5b6', endColorstr = '#6b788f', GradientType = 0);
    background-repeat: repeat-x;
    border-color: #9ca5b6 #6B788F #4E5869;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
    background-color: #677389;
}

.btn-warning {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fbb450', endColorstr = '#f89406', GradientType = 0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #f89406;
}

.btn-warning:active,
.btn-warning.active {
    background-color: #c67605;
}

.btn-danger {
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ee5f5b', endColorstr = '#bd362f', GradientType = 0);
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background-color: #bd362f;
}

.btn-danger:active,
.btn-danger.active {
    background-color: #942a25;
}

.btn-success {
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -ms-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#62c462', endColorstr = '#51a351', GradientType = 0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #51a351;
}

.btn-success:active,
.btn-success.active {
    background-color: #408140;
}

a.btn {
    text-decoration: none;
}

/*======================================================
Стиль для Меню навигации
======================================================*/
ul.nav {
    list-style: none;
    display: table;
    width: 100%;
}

ul.nav li {
    display: table-row;
    /*white-space: nowrap;*/
}

/* Заголовки разделов */
ul.nav li h1 {
    color: #eeeeee;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.55);
    background-color: #8F99AB;
    background-position: 0 0;
    border-bottom: 1px solid #606B80;
    display: table-cell;
    vertical-align: middle;
    height: 44px;
}

/* Заголовки меню */
ul.nav li h2 {
    color: #7b889f;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #DADADA;
    background-position: 0 -151px;
    border-bottom: 1px solid #c7c7c7;
    padding-left: 12px;
    display: table-cell;
    vertical-align: middle;
    height: 30px;
}

ul.nav li .section-personal {
    background-color: #000;
    background-position: 0 -50px;
    border-bottom: 1px solid #2D3642;
}

ul.nav li .section-warning {
    background-color: #FF0000;
    background-position: 0 -100px;
    border-bottom: 1px solid #980C06;
}

/* Ссылки пунктов меню */
ul.nav li a, ul.nav li a:visited {
    color: #4E5869;
    background-color: #dcdcdc;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    text-shadow: 0 1px 1px #ffffff;
    border-bottom: 1px solid #c7c7c7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    display: table-cell;
    vertical-align: middle;
    height: 44px;
}

ul.nav li.user-block a, ul.nav li.user-block a:visited {
    background-color: #CFD3DA;
    height: 70px;
}

ul.nav li.user-block table {
    display: inline;
}

ul.nav li a:hover, ul.nav li a:active, ul.nav li a:focus {
    background-color: #e7e7e7;
}

ul.nav .red, ul.nav .red a:link, ul.nav .red a:visited {
    color: #c90000;
}

/*======================================================
Стиль для Тулбаров
======================================================*/
#top-bar {
    color: white;
    background-color: #4E5869;
    width: 100%;
}

#top-bar td {
    height: 44px;
    vertical-align: middle;
    padding-top: 2px;
}

#top-bar .logo {
    padding-left: 12px;
}

#nav-top {
    padding: 0;
    border: 0;
    background-color: #5d687c;
    /*background-color: #6c768b;*/
    width: 100%;
}

#nav-top td {
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    height: 44px;
    width: 33%;
}

#nav-top img, #top-bar img {
    vertical-align: middle;
}

#nav-top a, #nav-top a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #919AAC;
    display: block;
}

#nav-top a:hover, #nav-top a:focus {
    background-color: #6c768b;
    /*background-color: #5d687c;*/
}

#nav-top .select {
    background-color: #6c768b;
    border-left: 0;
    border-right: 0;
}

.tagbar {
    padding-bottom: 4px;
}

/*======================================================
Стиль для графиков модуля Репутации
======================================================*/
#rep-container {
    word-wrap: normal;
    display: table;
    width: 100%;
}

#rep-row {
    display: table-row;
    height: 72px;
}

#rep-counter, #rep-selector, #rep-diagram, #rep-arrow {
    display: table-cell;
    vertical-align: middle;
}

#rep-counter {
    width: 1%;
}

#rep-selector {
    width: 11px;
}

#rep-diagram {
}

#rep-arrow {
    padding-left: 12px;
    width: 1%;
}

.progress {
    height: 8px;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

.progress .bar {
    height: inherit;
    background-color: #8acce4;
    border-top: 1px solid #fafafa;
    border-right: 2px solid #6ea2b5;
    border-bottom: 1px solid #6ea2b5;
    border-left: 1px solid #fafafa;
    box-sizing: border-box;
}

.progress-green .bar {
    background-color: #9eda5a;
    border-right: 2px solid #729d41;
    border-bottom: 1px solid #729d41;
}

.progress-gray .bar {
    background-color: #c5c5c5;
    border-right: 2px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
}

.progress-orange .bar {
    background-color: #ffc33b;
    border-right: 2px solid #b88c2a;
    border-bottom: 1px solid #b88c2a;
}

.progress-red .bar {
    background-color: #ff6855;
    border-right: 2px solid #be4e3f;
    border-bottom: 1px solid #be4e3f;
}

.rel_a_font, .rel_b_font, .rel_c_font, .rel_d_font, .rel_e_font {
    padding-right: 12px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    word-wrap: normal;
}

.rel_a_font {
    color: #06da46;
}

.rel_b_font {
    color: #b2cb57;
}

.rel_c_font {
    color: #b3b3b3;
}

.rel_d_font {
    color: #f0ad9e;
}

.rel_e_font {
    color: red;
}

/*======================================================
Стиль для меток и бейджиков
======================================================*/
.label,
.badge {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8895a8;
}

.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.badge {
    /*margin-left: 12px;*/
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-red,
.badge-red {
    background-color: #b94a48;
}

.label-orange,
.badge-orange {
    background-color: #f89406;
}

.badge-right {
    float: right;
}

.badge-large {
    font-size: medium;
}

/*======================================================
Иконки интерфейса
======================================================*/
@media all and (min-width:230px) {
    i {
        background: url(../img/sprite-icons.png) no-repeat top left;
        margin-right: 12px;
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
    }

    .icn-arrow { background-position: 0 -20px; float: right; margin-left: 12px; margin-right: 0; }
    .icn-man { background-position: 0 -40px }
    .icn-woman { background-position: 0 -60px }
    .icn-user-add { background-position: 0 -80px }
    .icn-man-woman { background-position: 0 -100px }
    .icn-group { background-position: 0 -120px }
    .icn-graph { background-position: 0 -140px }
    .icn-violations { background-position: 0 -160px }
    .icn-image { background-position: 0 -180px }
    .icn-comments { background-position: 0 -200px }
    .icn-envelope { background-position: 0 -220px }
    .icn-addressbook { background-position: 0 -240px }
    .icn-block { background-position: 0 -260px }
    .icn-info { background-position: 0 -280px }
    .icn-news { background-position: 0 -300px }
    .icn-book { background-position: 0 -320px }
    .icn-download { background-position: 0 -340px }
    .icn-dialogue { background-position: 0 -360px }
    .icn-dialogue-red { background-position: 0 -380px }
    .icn-chart { background-position: 0 -400px }
    .icn-camera { background-position: 0 -420px }
    .icn-shield { background-position: 0 -440px }
    .icn-shield-red { background-position: 0 -460px }
    .icn-settings { background-position: 0 -480px }
    .icn-edit { background-position: 0 -500px }
    .icn-keys { background-position: 0 -520px }
    .icn-smile { background-position: 0 -540px }
    .icn-flower { background-position: 0 -560px }
    .icn-meter { background-position: 0 -580px }
    .icn-block { background-position: 0 -600px }
    .icn-warning { background-position: 0 -620px }
    .icn-map { background-position: 0 -640px }
    .icn-exit { background-position: 0 -660px }
    .icn-upload { background-position: 0 -680px }
    .icn-trash { background-position: 0 -700px }

    .btn i{
        margin-right: 4px;
    }
}

/*======================================================
Текстовые блоки
======================================================*/
.block-even, .block-odd {
    border-bottom: 1px solid #c7c7c7;
    font-size: small;
    padding: 8px 10px;
    word-wrap: break-word;
}

.block-even {
    background-color: #EEEEEE;
}

.block-odd {
    background-color: #dce1e8;
}

.block-hdr{
    font-weight: bold;
    text-shadow: 0 1px 1px #ffffff;
    padding: 4px 0;
}

.block-info {
    color: #9195a8;
    font-weight: bold;
    font-size: x-small;
    text-shadow: 0 1px 1px #ffffff;
    padding: 4px 0;
}

.block-text{
    color: #5d5d5d;
    padding: 4px 0;
}

.block-tools {
    /*padding: 4px 0;*/
    line-height: 24px; /* Разобраться с поддержкой Opera Mini */
}

.table-list { }
.table-list td {
    padding: 4px;
}

/*======================================================
Другие стили
======================================================*/
.align-center {
    text-align: center;
}

.attn, label .attn {
    color: #b94a48;
}

.btn-panel {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.info-message {
    padding-top: 12px;
    padding-bottom: 24px;
}

.user-block {
    /*background-color: #dcdcdc;*/
    background-color: #CFD3DA;
    border-bottom: 1px solid #bcc0c6;
    padding: 12px;
    display: block;
}

.footer {
    color: #9DA6B5;
    background-color: #5d687c;
    border-bottom: 2px solid #464e5d;
    padding: 12px;
}

/*======================================================
Стиль, для совместимости с устаревшими модулями
ВНИМАНИЕ! В новых разработках не использовать!
======================================================*/
.func {
    border-left: 4px solid #9acd32;
    color: #757575;
    font-size: x-small;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 4px;
}

.gmenu {
    background-color: #c7e8d5;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.gray {
    color: #586776;
}

.greply {
    border-left: 4px solid #009900;
    color: #009900;
    padding: 2px 0 2px 4px;
}

.list1 {
    background-color: #eeecd9;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 4px 4px;
}

.list2 {
    background-color: #f5f5f5;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 4px 4px;
}

.menu {
    background-color: #eeecd9;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.phdr {
    background-color: #bfc6cf;
    border: 2px solid;
    border-color: #e1e4e8 #96a2af #96a2af #e1e4e8;
    padding: 3px 4px 3px 4px;
}

.phdr a {
    color: #eeeeee;
}

.phpcode {
    background-color: #E0E6E9;
    border: 1px dotted #9FAEBB;
    margin-top: 4px;
    padding: 0 2px 0 2px;
    overflow: auto;
}

.quote {
    border-left: 4px solid #c0c0c0;
    color: #878787;
    font-size: x-small;
    margin-left: 2px;
    padding: 2px 0 2px 4px;
}

.reply {
    border-left: 4px solid #EE0000;
    color: #EE0000;
    padding: 2px 0 2px 4px;
}

.rmenu {
    background-color: #e9ccd2;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

.sitemap {
    background-color: #eeecd9;
    margin: 0;
    padding: 2px 4px 3px 4px;
    font-size: xx-small;
    height: 38px;
    overflow: auto;
}

.small {
    font-size: x-small;
}

.status {
    color: #CD853F;
    font-size: x-small;
    font-weight: bold;
    padding-left: 0;
}

.sub {
    border-top: 1px dotted #c6c17f;
    font-size: x-small;
    margin-top: 4px;
}

.topmenu {
    background-color: #DADDE0;
    font-size: x-small;
    padding: 2px 4px 3px 4px;
    margin-bottom: 1px;
    border-bottom: 1px solid #A8B1BB;
    border-right: 1px solid #e1e4e8;
    border-left: 1px solid #e1e4e8;
}

.user {
    background-color: #CBDBE7;
    border: 1px solid white;
    margin: 0;
    padding: 3px 4px 3px 4px;
}

a.pagenav {
    border: 1px solid #cccccc;
    padding: 0px 3px 0px 3px;
    text-decoration: none;
}

a.pagenav:hover {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}

/*======================================================
Корректируем стиль для маленьких экранов (менее 240px)
======================================================*/
@media all and (max-width:229px) {
    /* Заголовки разделов */
    ul.nav li h1 { font-size: small; height: 30px; }

    /* Заголовки меню */
    ul.nav li h2 { height: 22px; font-size: x-small; }

    /* Touch ссылки меню */
    ul.nav li a, ul.nav li a:visited { font-size: x-small; height: 30px; }

    /* Метки форм */
    label { font-size: small; }

    /* График репутации */
    #rep-row { height: 48px; }
    #rep-arrow { padding-left: 0; }
    .progress { height: 4px; }
    .rel_a_font, .rel_b_font, .rel_c_font, .rel_d_font, .rel_e_font { padding-right: 12px; font-size: medium; }

    .block-even, .block-odd { padding: 4px; font-size: small; }
}